doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/default.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
  body
    #header.navbar.navbar-default.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand(href='/')
            img(src='/images/pinteraction-icon-75x75.png', width='20px')
        - if(user)
          ul.nav.navbar-nav
            li(class=IS_SLIDES ? "active" : "")
              a(href='/slides')
                span.glyphicon.glyphicon-film
                | &nbsp;&nbsp;Slides
            li(class=IS_SESSIONS ? "active" : "")
              a(href='/sessions')
                span.glyphicon.glyphicon-eye-open
                | &nbsp;&nbsp;Sessions
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle('data-toggle'='dropdown', href='#')
                img.img-circle(src='#{user.image}', height='20px', width='20px')
                &nbsp;
                = user.name
                b.caret
              ul.dropdown-menu
                li
                  a(href='/slides/new')
                    span.glyphicon.glyphicon-plus
                    | &nbsp;&nbsp;upload
                li.divider
                li
                  a(href='/users/' + user.uid)
                    span.glyphicon.glyphicon-user
                    | &nbsp;&nbsp;your profile
                li
                  a(href='/users/' + user.uid + '/slides')
                    span.glyphicon.glyphicon-film
                    | &nbsp;&nbsp;your slides
                li
                  a(href='/users/' + user.uid + '/sessions')
                    span.glyphicon.glyphicon-eye-open
                    | &nbsp;&nbsp;your sessions
                li.divider
                li
                  a(href="/logout")
                    span.glyphicon.glyphicon-log-out
                    | &nbsp;&nbsp;logout
        - else
          a.btn.btn-default.navbar-btn.navbar-right(href='/auth/facebook')
            i.glyphicon.glyphicon-log-in
            = " login with facebook"
    block content
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')