body {
  padding-top: 50px;
  background: #222;
  color: #fff;
}
body a {
  color: #E82E79;
}
body a:hover,
body a:focus {
  color: #cc1760;
}
.theatre {
  padding: 50px 0;
}
.comment {
  font-weight: bold;
  -webkit-text-stroke: 1px #666;
  color: rgba(255, 255, 255, 0.8);
}
.progress {
  position: relative;
  background: #333;
  border-radius: 0;
}
.progress > .explanation {
  z-index: 10000;
  position: absolute;
  left: 12px;
  line-height: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}
