extends ../layout

block content
  .container
    h2 All Slides
    - if(slides.length == 0)
      .alert.alert-warning
        | No slide is created yet.
    - else
      table.table
        tr
          th Title
          th Created
        - each slide in slides
          tr
            td
              a(href='/slides/#{slide._id}')
                =slide.title
            td
              = slide.created